.container {
	padding: 0 2rem;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact {
	display: flex;
}

#contact > a {
	flex: 1;
	padding: 0rem 1rem;
	margin: 20px;
}

#contact > a > svg {
	opacity: 0.5;
	transform: scale(1.5);
	transition: 0.2s;
}

#contact > a > svg:hover {
	opacity: 1;
	transition: 0.2s;
}

.header {
	margin-top: 50px;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

#name {
  border-bottom: 2px dashed #fff;
  text-decoration: none;
}

#name:hover {
  border-bottom: 2px solid #fff;
}

#pronunciation {
	font-weight: normal;
	font-size: 1rem;
}