.icon {
    width: 1rem;
    height: 1rem;
}

.hobby {
	display: flex;
    padding: 20px;
}

.title {
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.image {
	width: 40%;
	height: auto;
    object-fit: contain;
}