.project {
    padding: 10px;
    margin-bottom: 10px;
}

.header {
    margin-left: 10px;
    display: inline-block;
}

.icon {
    width: 50px;
    height: 50px;
}

.name {
    margin: 0px;
}

.languages{
    font-style: italic;
}

.description {
    margin: 10px 0px;
}